name: prerelease
on:
  release:
    types: [prereleased]

jobs:
  release:
    runs-on: ubuntu-22.04
    steps:
      - name: prereleasing
        uses: actions/github-script@v7
        with:
          script: console.log("prereleasing")